* {
	box-sizing: border-box;
}
h1, h2, h3{
	font-family: 'Open Sans', sans-serif;
}
.container {
	width: 95%;
	margin: 20px auto;
	height: 700px;

}
nav h1 {
	margin-left: 50px;
}
nav i {
	margin-left: 25px;
}
article {
	padding: 10px;
	width: 400px;
	margin: 10px;
  	display: flex;
  	float: left;
	border-top: 2px solid #cccfcd;
}
article:nth-child(9n) {
	border-bottom: 2px solid #cccfcd;
}
article:nth-child(10n) {
	border-bottom: 2px solid #cccfcd;
}
article:nth-child(11n) {
	border-bottom: 2px solid #cccfcd;
}
article:nth-child(12n) {
	border-bottom: 2px solid #cccfcd;
}
.text {
	padding-left: 10px;
	vertical-align:middle;
}
article h1, article h2 {
}
article img {
	display: block;
	width: 230px;
	height: 180px;
}
footer {
    clear: both;
    position: relative;
    height: 200px;
    margin-top: -100px;
	text-align: center;
}
/* img
	width: 230px;
	height: 180px;
*/

/*
	margin: 50px auto;
	margin-left: 60px;
	width: 200px;
	height: 200px;
	border-top: 1px solid;
	border-bottom: 1px solid;
*/